html, body
{
	height: 100%;
}
#theNumber
{
	text-align: center;
}

#videoList > .row > div:first-child
{
	font-style: italic;
}

#viewCountChart div
{
	text-align: right;
	vertical-align: middle;
	
	margin-top: 5px;
	
	width: 3px;
}
#viewCountChart div:first-child
{
	background-color: rgb(150,150,150);
}
#viewCountCompare div.row:nth-child(2)
{
	background-color: rgba(150,150,150, 0.4);
}

#viewCountChart div:nth-child(2)
{
	background-color: rgb(100,255,100);
}
#viewCountCompare div.row:nth-child(3)
{
	background-color: rgba(100,255,100, 0.4);
}

#viewCountChart div:nth-child(3)
{
	background-color: rgb(100,100,255);
}
#viewCountCompare div.row:nth-child(4)
{
	background-color: rgba(100,100,255, 0.4);
}

#appInfo iframe
{
	border: none;
}

#backButton
{
	opacity: 0;
	
	position: fixed;
	top: 10px;
	right: 10px;
}

.mainSection
{
	min-height: 100%;
}
.tableRowEven
{
	background-color: #eeeeee;
}
.tableRowOdd
{
	background-color: #ffffff;
}
.table-head
{
	font-weight: bold;
}
.right-align
{
	text-align: right;
}
.center-align
{
	text-align: center;
}