.mainSection
{
	height: 100%;
}

html, body
{
	height: 100%;
}
#theNumber
{
	font-size: 2500%;
	text-align: center;
}

#viewCountCompare [class*='col-']
{
	font-size: 36px;
}

#appInfo iframe
{
	border: none;
}

#backButton
{
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.tableRowEven
{
	background-color: #eeeeee;
}
.tableRowOdd
{
	background-color: #ffffff;
}
.table_head
{
	font-weight: bold;
	text-align: center;
}
.right-align
{
	text-align: right;
}
.center-align
{
	text-align: center;
}