.mainSection
{
	min-height: 100%;
}

html, body
{
	height: 100%;
}
#theNumber
{
	text-align: center;
}

#videoList > .row > *:first-child
{
	font-style: italic;
}


#viewCountCompare [class*='col-']
{
	font-size: 36px;
}

#appInfo iframe
{
	border: none;
}

#backButton
{
	display: none;
	
	position: fixed;
	top: 10px;
	right: 10px;
}
.tableRowEven
{
	background-color: #eeeeee;
}
.tableRowOdd
{
	background-color: #ffffff;
}
.table-head
{
	font-weight: bold;
}
.right-align
{
	text-align: right;
}
.center-align
{
	text-align: center;
}